#breadcrumbBar {
  #breadcrumbs {
    border: none !important;
    background-color: $color-bg-header;
  }
}

#breadcrumb-menu[style*='top: -27px;'] {
  margin-top: 26px;
}

.top-sticker-inner {
  background: none repeat scroll 0 0$color-white !important;
}

#breadcrumbs LI:hover,
A.breadcrumbBarAnchor.mouseIsOverMenuSelector {
  background-color: transparent !important;
  color:$color-link !important
}

#breadcrumbs {
  color: $color-link !important;
  text-decoration: none;
}