#main-panel-content > div:nth-child(2) {
  background-color: transparent !important
}

#main-panel > pre {
  font-family: 'Roboto Mono', monospace !important;
}

#side-panel .task-link {
  color: $color-text;
}