#main-panel-content > div:nth-child(2) {
  background-color: transparent !important
}

#main-panel > pre {
  font-family: 'Roboto Mono', monospace !important;
}

#side-panel .task-link {
  color: $color-text;
}

.pane-frame{
    border: solid 0px #f0f0f0 !important;
    border-radius: 0px;
}

.pane-header, .pane-footer {
    background-color: $color-bg-header !important;
    border-bottom: none !important;
    border-top: none !important;
}
.pane-content{
    background-color: $color-bg-odd !important;
}