#pipeline-box .table-box .table-viewPort .stage-start .cell-box .stage-start-time {
    border: 0px solid #fff !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    float: none;
    display: inline-block;
    width: 5em;
    background: $color-bg !important;
    position: relative;
    z-index: 2;
}
.changeset-box {
    position: absolute;
    top: 0;
    left: 5em;
    bottom: 0;
    text-align: center;
    width: 5em;
    box-shadow: none !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    background: $color-bg-header !important;
}
.jobsTable .stage-start-time .date {
    background-color: $color-bg-odd;
}
#pipeline-box .table-box tr td {
    border: 0px solid rgba(0, 0, 0, 0.05) !important;
    text-shadow: none !important;
    padding: 0;
}
#pipeline-box .table-box .table-viewPort {
  display: inline-block;
  border: 0px solid #ccc !important;
  overflow-x: auto;
  overflow-y: hidden;
  box-shadow: none !important;
}

#pipeline-box {
  position: relative;
  box-sizing: border-box;
}
#pipeline-box .extension-dock {
  font-size: 11px;
  text-align: center;
}
#pipeline-box .extension-dock .extension {
  cursor: pointer;
  float: left;
  width: 16px;
  height: 16px;
}
#pipeline-box .table-box {
  padding: 0 0 0 17em;
}
#pipeline-box .table-box .cell-color {
  padding: 1px;
  position: relative;
}
#pipeline-box .table-box col:nth-child(even) {
  background: rgba(0, 0, 0, 0.03);
}
#pipeline-box .table-box td.NOT_EXECUTED .cell-color {
  display: none;
}
#pipeline-box .table-box td.SUCCESS .cell-color {
  background: $color-green !important;
}
#pipeline-box .table-box td.UNSTABLE .cell-color {
  background: $color-yellow !important;
}
#pipeline-box .table-box tr.UNSTABLE .cell-color {
  background: $color-yellow !important;
}
#pipeline-box .table-box tr.FAILED .cell-color {
  background: $color-red !important;
}
#pipeline-box .table-box tr.FAILED .FAILED .duration {
  background: repeating-linear-gradient(-45deg, rgba(255, 50, 0, 0.1), rgba(255, 50, 0, 0.1) 20px, rgba(255, 0, 0, 0.15) 20px, rgba(255, 0, 0, 0.15) 40px);
  box-shadow: none !important;
}
#pipeline-box .table-box tr.FAILED .FAILED .duration span {
  opacity: 1 !important;
}
#pipeline-box .table-box tr.job td {
  height: 6em;
}
#pipeline-box .table-box tr td.totalComplete .progress {
  margin: 2px 5px;
  position: relative;
  height: 15px;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: none !important;
}
#pipeline-box .table-box tr td.totalComplete .progress .time-remaining {
  position: absolute;
  display: block;
  z-index: 2;
  font-size: 12px;
  line-height: 15px;
  font-weight: bold;
  color: #fff;
  text-shadow: none !important;
  left: 10px;
}
#pipeline-box .table-box tr td.hide-cell {
  border: none !important;
  padding: 0;
  width: 0;
  font-size: 0;
}
#pipeline-box .table-box tr td {
  border: 0px solid rgba(0, 0, 0, 0.05) !important;
  text-shadow: none !important;
  padding: 0;
}
#pipeline-box .table-box tr td .cell-color {
  min-height: 5.8em;
}
#pipeline-box .table-box tr td .duration {
  position: absolute;
  white-space: nowrap;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: auto;
  padding: .33em .33em 1.33em;
}
#pipeline-box .table-box tr td .duration span {
  display: inline-block;
}
#pipeline-box .table-box tr.header th {
  border: 0px solid rgba(0, 0, 0, 0.025) !important;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1) !important;
  padding: 1em;
}
#pipeline-box .table-box tr.header th.stage-start {
  border: none !important;
}
#pipeline-box .table-box tr:nth-of-type(4n+3),
#pipeline-box .table-box tr.in-progress-run {
  background: rgba(0, 0, 0, 0.05);
}
#pipeline-box .table-box tr:nth-of-type(4n+3) .stage-start .cell-box,
#pipeline-box .table-box tr.in-progress-run .stage-start .cell-box {
  background: rgba(0, 0, 0, 0.05);
  box-shadow: none !important;
}
#pipeline-box .table-box .table-viewPort {
  display: inline-block;
  border: 0px solid #ccc !important;
  overflow-x: auto;
  overflow-y: hidden;
  box-shadow: none !important;
}
#pipeline-box .table-box .table-viewPort table {
  border-spacing: 0 !important;
}
#pipeline-box .table-box .table-viewPort tr.totals .cell-color {
  box-shadow: none !important;
  background: rgba(0, 0, 0, 0.05);
  padding: 1.33em .5em 0;
  min-height: 3.5em;
}
#pipeline-box .table-box .table-viewPort tr.totals .stage-start {
  border: none !important;
}
#pipeline-box .table-box .table-viewPort tr.totals .stage-start .cell-color {
  text-align: right;
  padding: .33em 1em;
  margin: 2px 0 0;
  background: none;
  color: rgba(0, 0, 0, 0.25);
  font-weight: bold;
  overflow: hidden;
}
#pipeline-box .table-box .table-viewPort .stage-end {
  left: auto;
  right: 0;
  position: absolute;
  width: 100px;
}
#pipeline-box .table-box .table-viewPort .stage-start {
  position: absolute;
  left: 0px;
  text-align: center;
  border-top: 0px solid rgba(0, 0, 0, 0.1) !important;
  width: 17em;
  border-left: 0px solid rgba(0, 0, 0, 0.1) !important;
  overflow: hidden;
  margin: -1px 0 0;
}
#pipeline-box .table-box .table-viewPort .stage-start .cell-color {
  padding: 0;
}
#pipeline-box .table-box .table-viewPort .stage-start .cell-box {
  display: block;
  text-align: center;
  position: relative;
  font-size: 11px;
  padding: .5em 0;
  width: 100%;
  overflow: hidden;
}
#pipeline-box .table-box .table-viewPort .stage-start .cell-box .stage-end-icons {
  width: 8em;
  position: absolute;
  top: 0;
  left: 10em;
  border: 0px solid transparent !important;
}
#pipeline-box .table-box .table-viewPort .stage-start .cell-box .stage-end-icons .link {
  display: block;
  padding: 3px;
  font-weight: bold;
  cursor: pointer;
  color: #204A87;
}
#pipeline-box .table-box .table-viewPort .stage-start .cell-box .stage-start-box {
  margin: 1.3em 1em 1.3em 2em;
  clear: both;
  text-align: left;
  display: block;
  width: 14em;
  position: relative;
}
#pipeline-box .table-box .table-viewPort .stage-start .cell-box .stage-start-time {
  border: 0px solid #acb !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  float: none;
  display: inline-block;
  width: 5em;
  background: $color-bg-header;
  position: relative;
  z-index: 2;
}
#pipeline-box .table-box .table-viewPort .stage-start .cell-box .jobName {
  position: absolute;
  top: .68em;
  left: .5em;
  z-index: 3;
}
#pipeline-box .table-box .table-viewPort .stage-start .cell-box .stage-start-content {
  float: left;
  border: 0px solid !important;
}
#pipeline-box .table-box .table-viewPort .stage-start .cell-box .icon-md {
  position: absolute;
  bottom: 0;
  right: 0;
}
#pipeline-box .table-box .table-viewPort .stage-wrapper {
  min-width: 5em;
  min-height: 5.8em;
}
#pipeline-box .table-box .table-viewPort .stage-wrapper .extension-dock {
  position: absolute;
  right: 0px;
  width: 16px;
  top: 3px;
  bottom: 3px;
}

.task-icon-link[href='/'] {
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    height: 0px;
    width: 0px;
    z-index: -1;
    padding: 0px;
}

.jobsTableWrapper {
  position: relative;
}
.jobsTableWrapper .historybar {
  position: absolute;
  top: 100px;
  bottom: 0px;
  left: 14px;
  z-index: -1;
  display: block;
  width: 2px;
  content: "";
  background-color: $color-bg-header !important;
}
.jobsTable .header td {
  text-align: center;
  font-weight: bold;
  font-size: larger;
  padding-bottom: 10px;
}
.jobsTable .stage-wrapper table {
  width: 100%;
}
.jobsTable .totals .cell-color {
  background: rgba(0, 0, 0, 0.1);
}
.jobsTable .totals td {
  width: 130px;
  text-align: center;
}
.jobsTable .totals td .stage-avg-text .duration {
  font-weight: bold;
}
.jobsTable td {
  padding: 5px 10px;
  vertical-align: middle;
}
.jobsTable .stage-start-time,
.jobsTable .stage-start-content {
  text-align: center;
  float: left;
  height: 100%;
}
.jobsTable .stage-start-time,
.jobsTable .stage-wrapper {
  border: none !important;
  border-radius: 0px !important;
}
.jobsTable .stage-start-time .date,
.jobsTable .stage-start-time .time {
  padding: 3px 5px;
}
.jobsTable .stage-start-time .date {
  background-color: $color-bg-header;
}
.jobsTable .stage-start-content {
  padding: 5px 5px 5px 15px;
  width: 40px;
}
.jobsTable .stage-wrapper:hover {
  border: solid 1px #d7d7d7;
  box-shadow: none !important;
}
.jobsTable .jobName {
  font-weight: bold;
  width: 30px;
}
.jobsTable .stage-cell .stage-wrapper {
  position: relative;
  height: 45px;
}
.jobsTable .stage-cell .stage-wrapper .duration {
  text-align: center;
  line-height: 4.8em;
  padding-bottom: 1em;
  box-shadow:none !important;
  border-radius: 0px !important;
}
.jobsTable .stage-cell .stage-wrapper .status {
  color: $color-text;
  position: absolute;
  bottom: 1px;
  right: 1px;
  font-size: 0.75em;
}
.jobsTable .stage-cell .stage-wrapper .exec-node {
  text-shadow: none;
  position: absolute;
  left: 0px;
  bottom: 0px;
  font-size: 60%;
}
.jobsTable .stage-cell .stage-wrapper .pause-duration {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 15px;
  font-size: 60%;
  text-align: center;
  color: $color-text !important;
  opacity: 0.6;
}
.jobsTable .stage-cell.NOT_EXECUTED .stage-wrapper .label {
  display: none;
}
.jobsTable .jobName .badge {
  font-weight: bold;
  background-color: #89AED1;
  font-size: 11px;
  text-shadow: none !important;
}
.jobsTable .UNSTABLE .jobName .badge {
  background-color: $color-yellow;
}
.jobsTable .FAILED .jobName .badge {
  background-color: $color-red;
}
.jobsTable .stage-cell.PENDING_START .stage-wrapper {
  border: none;
}
.jobsTable .stage-cell.FAILED .stage-wrapper {
  color:$color-red;
  box-shadow: 0 1px 2px;
  text-shadow: none !important;
  font-weight: bold;
}
.jobsTable .stage-cell.FAILED .stage-wrapper .status {
  color: $color-red;
}
.jobsTable .stage-cell.PAUSED_PENDING_INPUT .stage-wrapper {
  border: none !important;
}
.jobsTable .stage-cell.PAUSED_PENDING_INPUT .stage-wrapper .status {
  color: #376fff;
}
.jobsTable .stage-cell.IN_PROGRESS .stage-wrapper,
.jobsTable .stage-cell.PAUSED_PENDING_INPUT .stage-wrapper {
  background-position: top right;
  background-size: 16px 16px;
}
.jobsTable .stage-cell .progress {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: auto;
  margin: 0;
  border: none;
  border-radius: 0px !important;
}
.jobsTable .stage-header-name-0,
.jobsTable .stage-total-0,
.jobsTable .stage-cell-0,
.jobsTable stage-end {
  padding-left: 0px;
}
.jobsTable .stage-end-icons .icon-label {
  display: none;
}
.jobsTable .stage-end-icons:hover .icon-label {
  display: inline-block;
}