#projectstatus th,
#projectstatus td {
  color: $color-text
}

#projectstatus th a {
  color: #999;
  font-weight: 400
}

#projectstatus th a:hover {
  color: #666
}

#projectstatus tr:hover {
  background-color: #f0f0f0 !important;

  td {
    background-color: #f0f0f0 !important;
  }
}

#projectstatus .healthReportDetails table tbody tr td {
    background-color: $color-white !important;
    color: $color-text !important;
}

#projectstatus .healthReportDetails table tbody tr:hover td {
    background-color: $color-white !important;
    color: $color-text !important;
}