#projectstatus th,
#projectstatus td {
  color: $color-text
}

#projectstatus th a {
  color: #999;
  font-weight: 400
}

#projectstatus th a:hover {
  color: #666
}

#projectstatus tr:hover {
  background-color: $color-bg-hover !important;

  td {
    background-color: $color-bg-hover !important;
  }
}

#projectstatus .healthReportDetails table tbody tr td {
    background-color: $color-bg-header !important;
    color: $color-text !important;
}

#projectstatus .healthReportDetails table tbody tr:hover td {
    background-color: $color-bg-hover !important;
    color: $color-text !important;
}

#projectstatus-tabBar{
    .tabBarFrame {
        .tabBar{
            .tab{
                background-color:$color-bg-header !important;
                .active{
                    background-color:$color-bg-odd !important;
                }
                a{
                    color:$color-link !important;
                }
            }
        }
    }
}