#projectstatus th,
#projectstatus td {
  color: $color-text
}

#projectstatus tbody tr:first-child th:first-child,
#projectstatus tbody tr:first-child th:last-child,
#projectstatus tbody tr:last-child td:first-child,
#projectstatus tbody tr:last-child td:last-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

#projectstatus .header {
    border-bottom: 0px solid #ddd !important;
}

#projectstatus th a {
  color: #999;
  font-weight: 400
}

#projectstatus th a:hover {
  color: #666
}

#projectstatus tr:hover {
  background-color: $color-bg-hover !important;

  td {
    background-color: $color-bg-hover !important;
  }
}

#projectstatus .healthReportDetails table tbody tr td {
    background-color: $color-bg-header !important;
    color: $color-text !important;
}

#projectstatus .healthReportDetails table tbody tr:hover td {
    background-color: $color-bg-hover !important;
    color: $color-text !important;
}

#projectstatus-tabBar{
    .tabBarFrame {
        .tabBar {
            [type=radio]:checked ~ a{
                border: solid 0px #f0f0f0;
                border-bottom: none;
                background: $color-bg-header !important;;
                color: $color-link;
                font-weight: bold;
                z-index: 2;
            }
            .tab {
                background-color:$color-bg-header !important;
                .active{
                    background-color:$color-bg-odd !important;
                }
                a, a:hover, a:visited, a:link {
                    position: relative;
                    display: block;
                    border: solid 0px #f0f0f0 !important;
                    border-bottom: none;
                    text-decoration: none;
                    padding: 7px 10px;
                    border-top-left-radius: 0px;
                    border-top-right-radius: 0px;
                    color:$color-link !important;
                }
            }
        }
    }
}