.task-link[href='/'] {
  display: none;
}

.task-icon-link[href='/'] {
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent !important;
  height: 64px;
  width: 64px;
  z-index: 3000;
  padding: 12px;

  &:hover {
    opacity: 1 !important;
  }
}