$color-primary: #e9eded;
$color-bg: #4E5D6C;
$color-bg-odd: #43505c;
$color-bg-hover: #617487;
$color-text: #e9eded;
$color-link: #e9eded;
$color-grey: #9E9E9E;
$color-green: #58ae5a;
$color-yellow: #FFC107;
$color-red: #F44336;
$color-white: #fff;
$color-black: #263238;
$color-selection: #80CBC4;

/* Console colors */
$console-selection: rgba(255, 255, 255, 0.15);
$console-bg: $color-black;
$console-text: #e9eded;
$console-red: $color-red;
$console-yellow: $color-yellow;
$console-lime: #C3E88D;
$console-light-green: #80cb8f;
$console-green: $color-green;
$console-blue: #75b2ca;
$console-purple: #c792ea;

$font-family: 'Roboto', sans-serif !important;
$version: 'jenkins-blues theme by easymodules.net'